/* Base Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 41px 15vw;
    max-width: 1450px;
    margin: 0 auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;   
}
/*730px por 510px hero image*/

/*Header logo 270px 110px*/
.logo{
    width: 270;
    height: 110px;
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.order-now{
    display: flex;
    justify-content: flex-end;
}

nav ul li a{
    text-decoration: none;
    margin: 1vw;
    color: white;
}

img{
    max-width: 100%;
    object-fit:fill;
}

#hero-image{
    display: block;
    width: 600px;
}

.container{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.hero-image{
    border-radius: 81px;
    max-width: max-content;
    min-width: 400px
}

button{ 
    width: 200px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: #0A5A18;
    border-style: none;
}

.hero-text{
    margin: 60px 60px 60px 0;
}

.hero-buttons{
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.hero-buttons button{
    margin-right: 10px;
}

#menu-container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.menu-cards{
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    width: 100%;
}